#
# SPDX-FileCopyrightText: 2024 The HedgeDoc developers (see AUTHORS file)
#
# SPDX-License-Identifier: AGPL-3.0-only
#

# Allow private ranges as proxies, for example when running Caddy behind another reverse proxy
# Otherwise Caddy strips the required X-Forwarded-Proto and X-Forwarded-Host headers
# This is a common scenario when exposing a local dev setup to someone else
{
    servers {
        trusted_proxies static private_ranges
    }
}

# Use port 8080 by default, but allow overriding using CADDY_HOST env variable
{$CADDY_HOST::8080} {

    log {
	    output stdout
        level WARN
	    format console
    }

    # WebSockets go to the backend:
    reverse_proxy /realtime http://localhost:{$HD_BACKEND_PORT:3000}

    # API requests all go to the backend:
    reverse_proxy /api/* http://localhost:{$HD_BACKEND_PORT:3000}
    reverse_proxy /public/* http://localhost:{$HD_BACKEND_PORT:3000}
    reverse_proxy /uploads/* http://localhost:{$HD_BACKEND_PORT:3000}
    reverse_proxy /media/* http://localhost:{$HD_BACKEND_PORT:3000}

    # Requests for Text, JSON, or Patches go to the backend:
    @backend_accepted {
        header_regexp Accept (?i)(text/(plain|markdown)|json|message/http-patches)
    }
    @backend_content_type {
        header_regexp Content-Type (?i)(text/(plain|markdown)|json|message/http-patches)
    }
    reverse_proxy @backend_accepted http://localhost:{$HD_BACKEND_PORT:3000}
    reverse_proxy @backend_content_type http://localhost:{$HD_BACKEND_PORT:3000}

    # All the remaining HTML, CSS, JS and Images go to the Frontend:
    reverse_proxy /* http://localhost:{$HD_FRONTEND_PORT:3001}
}
